.cart-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 100vh;
  background: #fafafa;
}

/* TITLE */
.cart-page .cart-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
  letter-spacing: 0.5px;
}

/* LIST */
.cart-page .page-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ITEM CARD */
.cart-page .cart-item {
  display: flex;
  align-items: center;
  gap: 22px;

  padding: 18px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;

  transition: 0.25s;
}

.cart-page .cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

/* IMAGE */
.cart-page .cart-item img {
  width: 110px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

/* INFO */
.cart-page .item-info {
  flex: 1;
}

.cart-page .item-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.cart-page .item-color{
  font-size: 15px;
  color: #111;
  margin-bottom: 4px;
}

.cart-page .item-size,
.cart-page .item-price {
  font-size: 15px;
  color: #111;
  margin-bottom: 4px;
}

/* QUANTITY */
.cart-page .quantity-box {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.cart-page .qty-btn {
  width: 23px;
  height: 23px;

  border: 1px solid #e5e5e5;
  background: #fff;

  cursor: pointer;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1;

  transition: 0.2s;
}

.cart-page .qty-btn:hover {
  background: #111;
  color: #fff;
  border-color: #111;
}

.cart-page .qty-value {
  min-width: 24px;
  text-align: center;
  font-weight: 500;
}

/* REMOVE BUTTON */
.cart-page .remove-btn {
  font-size: 14px;
  color: #111;

  display: inline-block;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.cart-page .remove-btn:hover {
  background: #ff3b30;
  color: #fff;
}

/* SUMMARY */
.cart-page .cart-summary {
  margin-top: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
}

/* TOTAL */
.cart-page .page-total {
  font-size: 22px;
  font-weight: 600;
}

/* CHECKOUT BUTTON */
.cart-page .checkout-btn {
  padding: 14px 30px;
  background: #111;
  color: #fff;
  border: none;
  cursor: pointer;

  font-size: 14px;
  border-radius: 10px;

  transition: 0.25s;
}

.cart-page .checkout-btn:hover {
  background: #000;
  transform: translateY(-1px);
}