/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px; 
}

.login-container {
  display: flex;
  height: 60vh;
  width: 50%;
  margin: 60px auto;
  background: #f5efe6;
  overflow: hidden;
  border-radius: 15px;
}


/*login left */
.login-left {
  width: 55%;
  padding: 60px;
  background: #f5efe6;
}

.login-left h2 {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;

}

.login-left input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}

.login-options {
  text-align: right;
  padding-right: 15px;
  font-size: 12px;
}

.login-left button  {
  width: 100%;
  padding: 10px;
  background: #6c63ff;
  color: white;
  border: none;
  margin-top: 15px;
  border-radius: 20px;
  font-size: 15px;
  transition: 0.3s;
}

.login-left button:hover {
  background: #8a84ff;
  color: white;
}

.login-left button:active {
  transform: scale(0.9); 
}

/* login right */

.login-right {
  width: 45%;
  background: linear-gradient(135deg, #5f6cff, #7b4dff);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

.login-overlay {
  text-align: center;
  color: white;
}

.login-overlay h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #FFD700;
}

.signup {
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.signup:hover {
  background: #8a84ff;
  color: white;
}

.signup:active {
  transform: scale(0.9); 
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

