.my-orders{
  max-width:1000px;
  margin:auto;
  padding:40px 20px;
}

.order-card{
  border:1px solid #ddd;
  border-radius:8px;
  padding:20px;
  margin-bottom:20px;
}

.order-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.status{
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

.status.pending{
  background:#fff3cd;
}

.status.confirmed{
  background:#e2e3ff;
}

.status.shipping{
  background:#d1ecf1;
}

.status.completed{
  background:#d4edda;
}

.status.cancelled{
  background:#f8d7da;
}

.view-order-btn{
  margin-top:10px;
  padding:10px 18px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
}