.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;

  padding: 70px 100px;
  background: #f5f5f5;
  color: #222;
  position: relative;
}

/* LOGO */
.footer .logo {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer .logo span {
  color: #e63946;
}

/* LEFT */
.footer-left {
  max-width: 300px;
}

.footer-left p {
  font-size: 15px;
  color: #666;
  margin-top: 12px;
  line-height: 1.7;
}

.footer-left p:hover {
  color: #000;
}

/* CENTER */
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-center h4 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
}

.footer-center a {
  text-decoration: none;
  font-size: 15px;
  color: #555;
  transition: 0.25s;
}

.footer-center a:hover {
  color: #000;
  padding-left: 5px;
}

/* RIGHT */
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right h4 {
  font-size: 16px;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 15px;
}

.footer-right a {
  display: block;
  font-size: 15px;
  color: #555;
  text-decoration: none;
  margin-bottom: 12px;
  transition: all 0.25s ease;
}

.footer-right a:hover {
  color: #000;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
    gap: 40px;
  }
}